# Backend API URL
# Si vous testez sur mobile physique, remplacez localhost par l'IP LAN de votre machine.
EXPO_PUBLIC_API_URL=http://localhost:8000/api

# Autres configs si nécessaire
EXPO_PUBLIC_ENV=development
