# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/

# Environment
.env
.env.local

# OS
.DS_Store
*.log

# IDE
.vscode/
.idea/

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*